#body {
  background-color: #FFEADA;
}

#toplogo {
  display: flex;
  justify-self: center;
}

#toplogo2 {
  display: flex;
  justify-content: center;
}
.pagelogo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 100%;
}

body, main, h1, h2, h3, p
{
  font-family: "League Spartan";
  
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


table {
  font-family: "League Spartan";
  background-color: #ffeada;
}

tr:nth-child(odd) {
  background-color: #662c05;
  color: #ffeada;
}

.table-container {
  display: flex;
  justify-content: center;
}

 #about, h2  {
  text-align: center;
 }

 img {
  display: flex;
  justify-content: center;
  max-inline-size: 100%;
 }
 /* The above code for the img selector is from Kevin Powell's tutorial
 "HTML & CSS for Absolute Beginners: Responsive images" 
 link in readme file */
  
/* Bootsrap card customisation */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #ffeada;
  font-family: 'league-spartan ';


}

/* Below are the 'details', 'amount' and 'biscuit', 'pick-up' id's and classes which are additional to style and centre the order and home pages respectively */  
.details {
  display: grid;
  justify-content: center;
   text-align: center;
   font-size: x-large;
}


#biscuit {
  text-align: center;
}

#amount {
  text-align: center;
}

#pick-up {
  font-display: center;
   text-align: center;
}

/* labels class for the dropwdown have been added to style here too. */

.order {
  font-size: larger;
  font-weight: bold;
}

 #gallery, p {
  text-align: center;
 }

 #home, h1, h3, h4 {
  text-align: center;
 }


#menu {
      display: grid;
  justify-content: center;
}



.navbar :has  {

  background-color: #ffeada;
  font-family: 'league-spartan';
}


#i {
  display: flex;
 justify-content: center;
 align-items: center;
}

#i2 {
    display: flex;
 justify-content: center;
 align-items: center;
}

#i3 {
    display: flex;
 justify-content: center;
 align-items: center;
}

#i4 {
    display: flex;
 justify-content: center;
 align-items: center;
}

#i5 {
    display: flex;
 justify-content: center;
 align-items: center;
}

.smedia {
  display: flex;
  justify-content: space-around;
  color: #E3AA75;
}



  .footer {
    color: #E3AA75;
    display: inline-flexbox;
    justify-content: space-around;
    text-wrap: balance;
    background-color:#662c05;
    font-size: medium;
    font-family: "League Spartan";
 
 
}


#face, #insta, #twitter-x {
  display: flex;
  color: #E3AA75;
}


.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr); 
}

/* Popup container */
.popup {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: "League Spartan";
  
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-family: 'league-spartan';
  font-size: 1rem;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  font-family: 'league-spartan';
  font-size: 20px;
}

#popupcode {
  font-size: 3em;
  font-family: 'league-spartan';

} 
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Animation (for popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

  /* Media queries for responsive footer */
  @media screen (576px) and (768px) and (992px) and (1200px)
  {
  min-width: 100vh; 
  
  }

/* reference for code for responsive footer [https://reintech.io/blog/creating-responsive-footer-with-css]*/
/* Media queries for logo on navbar */




