#body {
  background-color: #FFEADA;
}

/* Font customisation for body, main, h1, h2, h3, p and label elements */

body, main, h1, h2, h3, p, label
{
  font-family: "League Spartan";
  font-size: 2rem;
  color: #662c05;
  
}

/* p class for footer text */
.foot {
  font-family: "League Spartan";
  font-size: 1.2rem;
  color: #E3AA75;
}


.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#toplogo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  
}
/* Table customisation */

table {
  font-family: "League Spartan";
  background-color: #ffeada;
}

tr:nth-child(odd) {
  background-color: #662c05;
  color: #ffeada;
}

.table-container {
  display: flex;
  justify-content: center;
}

 #about, h2  {
  text-align: center;
 }

 /* table cell padding */
 td, th {
  padding: 15px;
 }

 td, th {
  font-size: 1.5em;
 }
 /*Code for the img selector is from Kevin Powell's tutorial
 "HTML & CSS for Absolute Beginners: Responsive images" 
 link in readme file */

  img {
  display: flex;
  align-items: center;
  justify-content: center;
  size: 50em;
 }

 /* Bootstrap carosuel size */ 
#carouselExampleIndicators {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: auto;
}
/* Bootstrap card customisation */
.card {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
    background-color: #ffeada;
  font-family: 'league-spartan ';
  font-size: xx-large;


}

/* Dropdown menu customisation */
.dropdown-item {
  display: flex;
  background-color: #ffeada;
  font-family: 'league-spartan ';
  font-size: 2em;

}

.dropdown-menu {
  display: flex;
  background-color: #ffeada;
  font-family: 'league-spartan ';
  font-size: 2em; 
}
/* Below are the 'amount' and 'biscuit', 'pick-up' id's and classes which are additional to style and centre the order and home pages respectively */  


#biscuit {
  text-align: center;
  font-family: "League Spartan";
}

#amount {
  text-align: center;
  font-family: "League Spartan";
}

#pick-up {
  font-display: center;
  font-family: "League Spartan";
   text-align: center;
}

#total {
  font-display: center;
  font-family: "League Spartan";
   text-align: center;
}

#order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan";
}

/* labels class for the dropwdown have been added to style here too. */

.order {
  font-size: larger;
  font-weight: bold;
  font-family: "League Spartan";
}

 #gallery, p {
  text-align: center;
  font-family: "League Spartan";
 }

 #home, h1, h3, h4 {
  text-align: center;
 }



#menu {
      display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

/* Navbar styling /*/

.mini-logo {
  height: 5em;
  width: 5em;
  margin-right: 10px;
}

.navbar :has  {

  background-color: #ffeada;
  font-family: 'league-spartan';
  font-size: large;

}

/*
Order page button styling 
*/
.btn-secondary {
  background-color: #662c05;
  color: #E3AA75;
  font-family: 'league-spartan';
  font-size: 5rem;
  border: none;
}
.btn-secondary:hover {
  background-color: #E3AA75;
  color: #662c05; 
  font-family: 'league-spartan';    
}

/* Icons in footer - Please note the truck icon (i2) was removed and delivery times are now within opening times instead */
/* Icons needed to be bigger and more visible to the user so the font size was adjusted for this  */

#i {
  display: flex;
 justify-content: space-between;
 align-items: center;
  font-size: 5em;
  padding-right: 1rem;
  
}

#i3 {
    display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 5em;
  padding-right: 1rem;
}

#i4 {
    display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 5em;
 padding-right: 1rem;
}

#i5 {
    display: flex;
 justify-content: space-between;
 align-items: center;
  font-size: 5em;
  padding-right: 1rem;
}

/* Footer styling */
/* The flex 1 and overflow properties taken and adapted from https://thelinuxcode.com/how-to-keep-your-footer-where-it-belongs-an-in-depth-guide-for-beginners/#google_vignette /*/
.footer-content {
 background-color:  #662c05;
  display: flex;
  position: relative;
   flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
   overflow: auto;
  flex: 1;
   padding: 10px 100px;
  padding-top: 80px;
    
}

  .footer {
    color: #E3AA75;
    display: flex;
    position: relative;
      flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color:#662c05;
    margin-top: auto;
    font-size: large;
    font-family: "League Spartan";
    padding: 10px 100px; 
     overflow: auto;
  flex: 1;
  padding-bottom: 80px;
    

}

#smedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  color:#E3AA75;
  font-size: 3rem;
  position: relative;
  padding-bottom: 5rem;
  padding-left: 15rem;
 flex: 1;

}

#insta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E3AA75;
  font-size: 4rem;
  position: relative;
  margin-left: 2rem;
  flex: 1 ;
 
}

#face {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E3AA75;
  font-size: 4rem;
  position: relative;
  margin-left: 2rem;
  flex: 1;
}

#twitter-x {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E3AA75;
  font-size: 4rem;
  position: relative;
  margin-left: 2rem;
  flex: 1;
}


.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr); 
}

#times {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "League Spartan";
  position: relative;
}

#contactinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "League Spartan";
  position: relative;
}

#email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "League Spartan";
  position: relative;
}

#address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "League Spartan";
  position: relative;
}

/* Popup container */
#myPopup {
  display: flex;
  font-family: "League Spartan";
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #662c05;
  font-family: "League Spartan";
  margin-top: 10px;
  size: 100px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  size: 200px;
  background-color: #662c05;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  font-family: 'league-spartan';
  font-size: 1rem;
  z-index: 1;
  size: 100px;
}

/* Popup arrow */
.popup .popuptext::after {
  display: flex;
  justify-content: center;
  content: "";
  position: relative;
  top: 500%;
  left: 50%;
  border-width: 5px;
  font-family: 'league-spartan';
  font-size: 50px;
  z-index: 1;
  
  
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Animation (for popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

  /* Media queries for responsive footer */
  @media screen (300px) and (576px) and (768px) and (992px) and (1200px)
  {
  min-width: 100vh; 
  
  }

/* reference for code above for responsive footer [https://reintech.io/blog/creating-responsive-footer-with-css]*/

@media screen  (max-width: 300px)  {
  .footer-content {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    (max-width: 100vh);
    position: relative;
  } 
  
}

@media screen   (576px) and (max-width: 768px)  {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    (max-width: 100vh);
    position: relative;
  } 

}

@media screen {
  (768px) and (max-width: 992px)  {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    (max-width: 100vh);
    position: relative;
  }
}
  
@media screen  (1200px) and (max-width: 1400px)  {
  .footer-content {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    (max-width: 100vh);
    position: relative;
  }
}

}

@media screen  (max-width: 300px)  and (576px) and (768px) and (992px) and (1200px){
  .footer {
    font-size: small;
    position: relative;
    color: #E3AA75;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#662c05;
    overflow: scroll;
  } 
}

@media screen  (576px) and (max-width: 768px) and (992px) and (1200px){
  #smedia, #insta, #face, #twitter-x {
    font-size: medium;
    position: relative;
    color: #E3AA75;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#662c05;
    overflow: scroll;
  } 
  
}

/* End of footer responsive code */






