#body {
  background-color: #FFEADA;
}

body, main, h1, h2, h3, p
{
  font-family: "League Spartan";
  
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  font-family: "League Spartan";
  background-color: #ffeada;
}

tr:nth-child(odd) {
  background-color: #662c05;
  color: #ffeada;
}

.table-container {
  display: flex;
  justify-content: center;
}

 #about, h2  {
  text-align: center;
 }

 img {
  display: flex;
  align-items: center;
  justify-content: center;
  size: 2em;
 }
 /* The above code for the img selector is from Kevin Powell's tutorial
 "HTML & CSS for Absolute Beginners: Responsive images" 
 link in readme file */
  
/* footer customisation */
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

/* Bootstrap card customisation */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #ffeada;
  font-family: 'league-spartan ';
  font-size: xx-large;

}

/* Dropdown menu customisation */
.dropdown-item {
  display: flex;
  background-color: #ffeada;
  font-family: 'league-spartan ';
  font-size: 2em;

}

.dropdown-menu {
  display: flex;
  background-color: #ffeada;
  font-family: 'league-spartan ';
  font-size: 2em; 
}
/* Below are the 'amount' and 'biscuit', 'pick-up' id's and classes which are additional to style and centre the order and home pages respectively */  


#biscuit {
  text-align: center;
}

#amount {
  text-align: center;
}

#pick-up {
  font-display: center;
   text-align: center;
}

/* labels class for the dropwdown have been added to style here too. */

.order {
  font-size: larger;
  font-weight: bold;
}

 #gallery, p {
  text-align: center;
 }

 #home, h1, h3, h4 {
  text-align: center;
 }



#menu {
      display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

/* Navbar styling /*/

.mini-logo {
  height: 5em;
  width: 5em;
  margin-right: 10px;
}

.navbar :has  {

  background-color: #ffeada;
  font-family: 'league-spartan';
  font-size: large;

}


#i {
  display: flex;
 justify-content: center;
 align-items: center;
  font-size: 5em;
}
/* Icons in footer - Please note the truck icon (i2) was removed and delivery times are now within opening times instead */
/* Icons needed to be bigger and more visible to the user so the font size was adjusted for this  */
#i3 {
    display: flex;
 justify-content: center;
 align-items: center;
 font-size: 5em;
}

#i4 {
    display: flex;
 justify-content: center;
 align-items: center;
 font-size: 5em;
}

#i5 {
    display: flex;
 justify-content: center;
 align-items: center;
  font-size: 5em;
}

/* Footer styling */

  .footer {
    color: #E3AA75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#662c05;
    font-size: medium;
    font-family: "League Spartan";
    padding: 10px 100px; ;
    position: relative;
    
}



#smedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:#E3AA75;
  font-size: 3rem;
  position: relative;
 
}

#insta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E3AA75;
  font-size: 4rem;
  position: relative;
 
}

#face {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E3AA75;
  font-size: 4rem;
  position: relative;
}

#twitter-x {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E3AA75;
  font-size: 4rem;
  position: relative;
}

 /* Bootstrap carosuel size */ 
#carouselExampleIndicators {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: auto;
}

/* Bootstrap menu  size */





.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr); 
}

/* Popup container */
.popup {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: "League Spartan";
  margin-top: 10px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-family: 'league-spartan';
  font-size: 1rem;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  font-family: 'league-spartan';
  font-size: 50px;
}

#popupcode {
  font-size: 3em;
  font-family: 'league-spartan';

} 
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Animation (for popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

  /* Media queries for responsive footer */
  @media screen (300px) and (576px) and (768px) and (992px) and (1200px)
  {
  min-width: 100vh; 
  
  }

/* reference for code above for responsive footer [https://reintech.io/blog/creating-responsive-footer-with-css]*/

@media screen  (max-width: 300px)  {
  .footer-content {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    (max-width: 100vh);
    position: relative;
  } 
  
}

@media screen   (576px) and (max-width: 768px)  {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    (max-width: 100vh);
    position: relative;
  } 

}

@media screen {
  (768px) and (max-width: 992px)  {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    (max-width: 100vh);
    position: relative;
  }
}
  
@media screen  (1200px) and (max-width: 1400px)  {
  .footer-content {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    (max-width: 100vh);
    position: relative;
  }
}

}

@media screen  (max-width: 300px)  and (576px) and (768px) and (992px) and (1200px){
  .footer {
    font-size: small;
    position: relative;
    color: #E3AA75;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#662c05;
    overflow: scroll;
  } 
}

@media screen  (576px) and (max-width: 768px) and (992px) and (1200px){
  #smedia, #insta, #face, #twitter-x {
    font-size: medium;
    position: relative;
    color: #E3AA75;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#662c05;
    overflow: scroll;
  } 
  
}

/* End of footer responsive code */






